<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kit00.blog.dao.LabelMapper">
  <resultMap id="BaseResultMap" type="xyz.kit00.blog.bean.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="hot" jdbcType="INTEGER" property="hot" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.kit00.blog.bean.Label">
    replace into label (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByName" parameterType="map">
    update label
      <set>
        <if test="count!=null and count!=''">
          count = count+1
        </if>
        <if test="hot!=null and hot!=''">
          hot = hot+1
        </if>
      </set>


    where name = #{name,jdbcType=VARCHAR}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, count, hot
    from label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, count, hot
    from label
    order by hot desc
    limit 10
  </select>
</mapper>